server.port: {{ server_port }}
server.host: "{{ server_host }}"
server.basePath: "{{ server_basePath }}"
server.maxPayloadBytes: {{ server_maxPayloadBytes }}
elasticsearch.url: "{{ elasticsearch_url }}"
kibana.index: "{{ kibana_index }}"
kibana.defaultAppId: "{{ kibana_defaultAppId }}"
