#{{ ansible_managed }}
cluster.name: {{ cluster_name }}
node.name: {{ node_name }}
node.rack: {{ node_rack }}
path.data: {{ path_data }}
path.logs: {{ path_logs }}
bootstrap.memory_lock: {{ bootstrap_memory_lock }}
network.host: {{ network_host }}
http.port: {{ http_port }}
